*{
    box-sizing: border-box;
}
body {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     /* Minimum height of the viewport */
}

header{
    display: flex;
    justify-content:space-between; 
    align-items: center;
    background-color: rgb(20, 74, 118);
    color:rgb(247, 246, 246);
}
.logo{
    display: flex;
    align-items: center;
}
.logo > img{
    width: 60px;
    margin-right: 7px;
    
}

.logo h1{
    font-size: 1.1rem;
    margin: 0 0 0.3rem 0;
}
.logo p {
    font-size: 0.7rem;
    margin: 0;
}
#menu{
    width: 30px;
    float: right;
    padding: 5px;
    cursor: pointer;
    
}
/*Nav*/

/*Hamburger Button*/
/*
#menu{
    font-size: 1.5rem;
    border: 2px solid rgb(12, 54, 88);;
    padding: 3px 7px 6px ;
    background-color: rgb(246, 247, 248);
    color: rgb(15, 15, 15);
    position:absolute;
    top: 1rem;
    right: 0.5rem;
    
    }
*/

#menu::before {
	content: "☰";/*Menu Icon */
}

#menu.open::before {
	content: "❎";/*Menu Icon when cancelled*/
}
.navigation{
   /* position: relative;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 50vw;
    z-index: 10;
    color: #ddd;
    background-color: #0624bd;
    transition: transform 0.2s ease-out;*/
    
    

    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(12, 54, 88);
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.navigation a:hover{
    background-color: #faf3f3;
    font-weight: 700;
    width: 100%;
    color: rgb(15, 15, 15);
    font-weight: bold;
    letter-spacing: 0.3rem;
}
.navigation > .active {
    color: rgb(247, 247, 5);
}

/* when the button is clicked - the open class is toggled (added/removed) */
.show-menu {
    transform: translateX(100vw);
  }
.open a {
	display: block;
}

/* just a wayfinding symbol for the user */

.active::before{
    content: "|";
    
}
.active::after{
    content: "|";
    
}


/* Center the main content */
main {
    place-items: center; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
main h2{
    
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    
}


.card {
    border: 1px solid #ddd;
    margin: 20px ;
    border-radius: 8px;
    border-color: rgba(44, 40, 38, 0.986);
    background-color: #fff;
    width: 95%;
    color: rgb(12, 12, 12);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    

}
.card h3{
    
    background-color: rgb(12, 54, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 50px;
    color: white;
    
    
}
.card ul {
    list-style:decimal-leading-zero;
    color: rgb(3, 3, 14);
}
.card ul li a:hover{
    color:rgb(245, 9, 9);
}
.card  p {
text-align: center;
}

iframe{
    width: 95%;
    overflow: hidden;
    border-radius: 3%;

}

footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: rgb(12, 54, 88);
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    

}

#copy{
    
grid-column: 1/3;
    
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bold;
    
    
    
}
#name{
    grid-column: 1/3;
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bold;
    padding: 0px;
    margin: 0px;

}
#country{
    
    
    grid-column: 1/2;
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bold;

    
}
footer img {
    grid-column: 2/3;
    width: 5rem;
    background-color: rgb(12, 54, 88);


    
}
#lastModified{
    
    grid-column: 1/3;
    color: rgb(247, 247, 5);;
    font-weight:bold;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: rgb(12, 54, 88);
    padding: 0px;
    margin: 0px;

}
/*Small View Navigation ----------------------Mobile View*/





