


:root {
  /* Colors */
  --button-color:#FAF55D;
  --black: hsl(0, 0%, 0%);
  
  --white: hsl(0, 0%, 100%);
  --darkblue:rgb(15, 67, 115);
  --hover:#653601;
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;

 --primary-color:var(--darkblue);
 --secondary-color:var(--white);
 --onlybody-color: var(--white);
 --onlyMenuOptions-color:var(--darkblue);
 --onlyTextOptions-color:var(--black);
 --hoverOnMeunOption-color:var(--hover);
}
.dark-mode{
  --onlybody-color:rgb(43, 41, 41);
  --primary-color:rgb(15, 15, 15);
  --onlyMenuOptions-color:var(--white);
  --hoverOnMeunOption-color:var(--button-color);
  --onlyTextOptions-color:var(--white);
  
}

* {
  box-sizing: border-box;
  padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}



  
  header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
   
  }
  body{
    background-color:var(--onlybody-color);
  }
  
  .top_bar{
    
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .container{
    background-color:var(--primary-color);
    height: 50px;
    display: grid;
    align-items: center;
}
 
.top-bar_info_wr{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
 .top_bar_info{
    display: flex;
    color: var(--secondary-color);
    justify-content: left;
    align-items: center;
    height: 50px;
  }
  .top_bar_info li{
    margin-left: 20px;
  }
  .top_bar_info i{
    margin-right: 5px;
  }
  .top_bar_info .login_button{
    align-self: center;
  }
  .login_button{
    background:var(--button-color);
    margin-left: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    color:var(--black);
  }
  .login_button:hover {
    background:var(--white);
    color:var(--black);
  }
  /* Styles for dark mode toggle */
.toggle-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  margin-right: 15px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a39e9e; /* Default background color */
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #333; /* Dark mode background color */
}

.toggle-label::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eef10b; /* Default knob color */
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label::before {
  transform: translateX(20px); /* Move knob to the right for dark mode */
}


  .bottom_bar{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    background-color: var(--onlybody-color);
  }
  .logo{
      display: flex;
      background-color: var(--onlybody-color);   
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      
     
  
  }
  .tday_weather{
    display: flex;
    padding: 5px;
    align-items: center;
  }
  #weather-icon{
    background-color: #0076b2;
    padding: 1px;
  }
  #desc , #temp{
    background-color: var(--primary-color);;
    color: var(--secondary-color);
    padding: 17px;
  
  }
  
  nav{
          height: 81px;
          align-content: center;
          width: 100%;
    }
  .logo img {
      object-fit: cover;
      margin-right: 5px;
  }
  .logotext{
    color: var(--secondary-color);
      font-size: 35px; 
      line-height: 80px;
      padding: 0 10px;
      font-weight: bold;
      
  }
  
  nav ul{
      float:right;
      margin-right: 20px;
  }
  nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0.5px;
      color: var(--onlyMenuOptions-color);
   
  }
  nav ul li a{
      color:var(--onlyMenuOptions-color);
      font-size: 17px;
      text-transform: uppercase;
      padding: 7px 13px;
      border-radius: 3px;
  }
  a.active,a:hover{
      
      transition: .5s;
      color:var(--hoverOnMeunOption-color);
      font-weight: bolder;
  }
  .checkbtn{
      font-size: 40px;
      color: var(--onlyMenuOptions-color);
       float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  }
  #check{
      display: none ;
  }
   
  /*------------------------hero-----------------------*/
.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero{
  
  margin-bottom: 15px;
  position: relative;
  

}
.herolabel{
  position: absolute;
  top: 20%;
  left: 10%;
  background: radial-gradient(#ffffff59, #4d5b9700);
  /*border: 1px solid rgba(0,0,0,.75);*/
  padding: .5rem;
  box-shadow: 0 0 3rem #363434;
  opacity: 0.75;
  

}


  /*.hero-contained{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
  }
  
  /*.hero{
    grid-column: 2/3;

    /*background:url('../images/xela2.jpg') no-repeat center / cover;*//*
    width: 100%;
    height: 81vh;
    color: white;
    margin-bottom: 1rem;
    
    
    /*linear-gradient(rgba(255, 255, 255, 0.11),rgba(255, 255, 255, 0.24)), */
  /*}*/
  /*.hero picture img{
    width: 100%;
    
  }
  .hero-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
  }
  .hero-info{
  border-radius: 30px;
  background: linear-gradient(rgba(179, 28, 28, 0.315),rgba(19, 18, 18, 0.555));

}
 */ .herolabel h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
.herolabel h2{
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
/*.hero-info p{
  font-size: 1.3rem;
  max-width: 70%;

  margin: 0 auto;
  margin-right: 0;
 
}*/
.herolabel a{
  text-decoration: none;
  display: inline-block;
  background:var(--button-color);
  font-size: 1.3rem;
  padding: 0.5em 0.5em;
  margin-top: 0.5rem;
  color:#000000;
  margin-bottom: 0.5rem;
  

}
  .herolabel a:hover{
    background-color:var(--white);
    color:var(--black);
    border: 2px solid var(--primary-color);
  }




  /*************************Content -Container-------------------*/
  .content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    width: 100%;
    padding: 0.1rem;
       
    color: rgb(10, 10, 10);
    gap: 0.5rem;
     
}
/*--------------------------------------Weather--------------------*/
.weather-container{
  grid-column: 1/2;
   display: grid;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: repeat(3, minmax(75px, 1fr));

  margin-left: 5px;
  font-size: 12px;
  background-color:var(--primary-color);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

#desc{
  text-transform: capitalize;
}

.temp{
  display: flex;
  
}
.temp h3{
  margin-left: 15px;
  margin-right: 5px;
}
.windchill{
  display: flex;
}
.windchill h3{
  margin-left: 15px;
  margin-right: 5px;
}

.windspeed{
  display: flex;
}
.windspeed h3{
  margin-left: 15px;
  margin-right: 5px;
}


.weather-container span{
  color:var(--secondary-color);

}


.fa-sun-o{
  color: rgb(255, 60, 0);
}
#forecast{
  grid-row: 1/2;
  grid-column: 1/4;
  

  
}
.forecast-item {
  border: 1px solid #f6f7f815;
  text-align: center;
}

.forecast-item:not(:last-child) {
  border-right: 0;
}

.forecast-item h3 {
  background-color:var(--primary-color);;
  padding: 10px;
  margin: 0;
  color: var(--secondary-color);
}

.forecast-item img {
  /* width: 50px; */
  filter: drop-shadow(0.25em 0.25em 0.5em rgba(0, 0, 0, 0.25));
}

.forecast-item p {
  margin-top: 0;
  font-weight: bold;
  color:var(--onlyMenuOptions-color);
}
.forecast-item figcaption{
  text-transform: capitalize;
  color:var(--onlyMenuOptions-color);
}
.forecast-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
 
#chamberBanner {
  display: none;
  color: #000000;
  background-color:var(--button-color);
  padding: 8px;
  font-size: 1.2rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  
  width: 100%;
  

  
}
#closeButton{
  float: right;
  cursor: pointer;
}
 /***********************************************************************/
 .currentevents{
  grid-column: 1/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  place-items: center;
  justify-content: center;
}
#slider {
  grid-column: 2/3;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: var(--secondary-color);
  position: relative;
   z-index: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 1.2;
  height: 500px;
}
.slide-content{
  display: grid;
  grid-template-columns: auto auto;
}
.slide-details{
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  padding: 15px;
  text-align: center;
  
  align-items: center;
  

   
}
.slide-details h1 {
  
  font-size: 2rem;
  margin-top: 150px;
}




.slide-details a {
  
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  width: 6rem;
  margin-top: 2rem;
  padding: 0.5rem;
  color: var(--black);
  border: 1px solid var(--secondary-color);
  text-align: center;
  background-color: var(--button-color);

}
.slide-details a:hover{
  background-color: var(--white);
  color: var(--black);
}


.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color:var(--secondary-color);
}
#slides .slide_1 {
  background: #00171F;
}
#slides .slide_2 {
  background:var(--darkblue);
}
#slides .slide_3 {
  background: #0c566e;
}
#slides .slide_4 {
  background: #035170;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
 /* background: url(../images/arrowright.png) no-repeat;*/
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  /*background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;*/
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}



/*------------------------logo----------------------*/

 
/*---------------------spotlligh---------------------*/






.spotlight-container{
  margin-top: 0rem;
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    
    
}
 .spotlight1{
 grid-column: 2/4;
 border: 1px solid rgb(146, 144, 144);  
 background-color: rgb(195, 199, 200);
 }
 .spotlight2{
  grid-column: 4/6;
  border: 1px solid rgb(146, 144, 144);
  background-color:rgb(195, 199, 200);;
    
   }
.spotlight3{
    grid-column: 6/8;
    border: 1px solid rgb(146, 144, 144);
    background-color: rgb(195, 199, 200);
     }

.spotlight-button{
  background-color: var(--secondary-color);
  text-align: center;
}     

.spotlight1 img, .spotlight2 img, .spotlight3 img{
  width: 100%;
  object-fit: cover;
}
 

 .spotlight-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
 }
 .spotlight1 p{
  line-height: 15px;
  margin-bottom: 0.1rem;
 }
 .spotlight2 p{
  line-height: 20px;
  margin-bottom: 0.1rem;
 }
 .spotlight2 a{
  border-bottom: 1rem;
 }
 .spotlight3 p{
  line-height: 20px;
  margin-bottom: 0.1rem;
 }
/*/////////////////////////////// ////////////*/

 footer{
    width: 100%;
    position: absolute;
    background-color:var(--primary-color);
    
    color: var(--secondary-color);
    padding: 100px 0 30px;
   /* border-top-left-radius: 125px;*/
    font-size: 13px;
    line-height: 20px;
       
    }
    .row{
      width: 85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    .col{
      flex-basis: 25%;
      padding: 10px;
    }
    .col:nth-child(2), .col:nth-child(3){
      flex-basis: 15%;
      
    }
    .col h3{
      width: fit-content;
      margin-bottom: 40px;
      position: relative;
    }
    .email-id{
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0px;
    }
    .col ul li{
      list-style: none;
      margin-bottom: 12px;
    }
    .col ul li a{
      text-decoration: none;
      color: var(--secondary-color);
    }
    .col p{
      font-size: 13px;
    }
    .indexform-footer{
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--secondary-color);
      margin-bottom: 50px;

    }
.indexform-footer .fa{
  font-size: 18px;
  margin-right: 10px;

}
.indexform-footer input{
  width: 100%;
  background: transparent;
  color: var(--secondary-color);
  border: 0;
  outline: none;
}
.indexform-footer button{
  background: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.indexform-footer button .fa{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: var(--secondary-color);
  margin-right: 15px;
  cursor: pointer;

}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  margin: 20px auto;
}
.copyright{
  text-align: center;
  font-size: 18px;
}
/*.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}*/
/*.underline span{
  width: 80px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  /*left: 10px;*//*
  animation: moving 2s linear infinite;

}*/
/*@keyframes moving 
{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}*/
.logofooter{
  /*  grid-column: 4/5;*/
    width: 12rem;
    margin-bottom: 30px;
}

/*Discover----------------------------------------*/
.discover-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Sidebar takes 1/4 and Main takes 3/4 of the available width */
  gap: 20px;
  padding: 20px;
  color:var(--onlyTextOptions-color);


}
 .sidebar{
  border: 1px solid black;
  line-height: 1.3rem;
  border-radius: 5px;
  
 }
.xela-general h2, .xela-history h2{
  padding-bottom: 10px;
  padding-top: 10px;
  
}
.xela-history, .xela-map  {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.xela-general, .xela-history,.xela-demographics {
  padding: 15px;
}
.xela-flag-seal{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  
}
.xela-map{
  padding: 15px;
}
.xela-history img, .xela-map img ,.xela-flag-seal img,.main-content img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  padding-bottom: 10px;
  opacity: 0;
  transition: opacity 1.5s;
}
/*@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}*/

.xela-history img.show,
.xela-map img.show,
.xela-flag-seal img.show,
.main-content img.show,
.header-overlay img.show {
    opacity: 1;
}


.xela-demographics{
  display: grid;
  grid-template-columns: 1fr 3fr;

}
.xela-demographics h4{
  border-bottom: 1px solid black;
  background-color: #00A8E8;
}
.visit-dates{
  display: block;
  text-align: center;
  background-color:var(--primary-color);
  color: var(--secondary-color);
}
/*test-------------------------------------*/
.header-overlay{
  
  position: relative;
  display: inline-block;
  width: 100%;
  height:30%;
  
}

.image{
  display: block;
  width: 100%;
  height: 100%;
  
  
}
.overlay{
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  /*background: radial-gradient(#13121246, #17171852);*/ 

}
.header-overlay:hover .overlay{
  opacity: 1;
}
.img-text{
  color:var(--secondary-color);
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
}

.overlayBottom{
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(#131212a2, #171718a4);
}
.header-overlay:hover .overlayBottom{
  height: 25%;
}
/*join us large view*/
#joinus-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0 2%;
}
.wf2 fieldset{
  margin: 2rem 0;
  border: 1px solid #0076b2;
  border-radius: 6px;
  padding: 0.5rem 2%;
  
} 
.wf2 legend{
  color: #040c29;
  padding: 0.5rem;
  color: var(--onlyTextOptions-color);
}
.wf2 label{
  display: block;
  padding-top: 1rem;
  color:rgb(13, 67, 115);
  font-size: 0.9rem;
  color: var(--onlyTextOptions-color);
}
.wf2 input[type="text"],
.wf2 input[type="email"],
.wf2 input[type="tel"],
.wf2 textarea,
.wf2 select
{
    background-color:var(--secondary-color);
    display: block;
    border:  solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


.wf2 textarea {
  height: 8rem;
}
.wf2 input[type="submit"]{
  border: none;
  background-color:var(--button-color);
  color: var(--black);
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;

}
.wf2 input[type="submit"]:hover{
  color: var(--white);
  background-color: var(--darkblue);
}

.wf2 input:required{
  border-left: solid 8px red;
}
.wf2 input:required:valid{
  border-left: solid 8px var(--primary-color)
}

#benefits {
  border: 1px solid #0076b2;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 15%);
  margin-top: 3rem;
  height: 44%;
  color:var(--onlyTextOptions-color);

}

#benefits h4 {
  margin-bottom: 0.5rem;
}

#benefits h5 {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#benefits .detail-levels {
  padding-left: 1rem;
  margin-top: 0;
  

}
/*Directory*/


#directory {
  padding-left: 12rem;
  padding-right: 12rem;
  margin-bottom: 2rem;
  
}
#directory h2{
  color:var(--onlyMenuOptions-color)
}
#businesses h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#businesses p {
  font-size: 0.85rem;
  line-height: 1.5;
  margin-top: 0;
}

#businesses .card {
  background-color: #d3ecf3;
  padding: 1rem;
  border-bottom: 1px  solid rgba(128, 128, 128, 0.295);
  border-radius: 5px;
  margin-bottom: 5px;
}
#businesses .card > div > p {
  font-weight: bold;
}
#businesses .card > div div {
  display: flex;
  align-items: flex-start;
}
#businesses .card > div div p {
  margin-bottom: 0.5rem;
}

#businesses .card > div div img {
  max-width: 25%;
  margin-left: 1rem;
  object-fit: contain;
  max-width: 0rem;
}
#businesses .card a {
  display:block;
  margin-top: 0.5rem;
  position: relative;
}
#businesses .card a:hover{
  color: black;
}
#businesses .card p:last-child {
  margin-top: 1rem;
}
#directory > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#menu-lg {
  align-items: center;
}
#menu-lg > button {
  max-width: 1.2rem;
  outline: none;
  border: 0;
  margin-left: 0.7rem;
  background-color: transparent;
  cursor: pointer;
}
#menu-lg button img {
  max-width: 100%;
}


#businesses.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
#businesses.grid .card > div div img {
  max-width: 7rem;
}

/*spotlight form json file*/
#hbusinesses{
  grid-column: 1/3;
  grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    color: var(--onlyTextOptions-color);
    
  
  
}
#hbusinesses h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#hbusinesses .card p{
  font-size: 0.85rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#hbusinesses .card {
  
  padding: 1rem;
  border-bottom: 1px  solid rgba(128, 128, 128, 0.295);
  border-radius: 5px;
  margin-bottom: 5px;
  margin: 5px;
  border: 1px solid var(--onlyTextOptions-color);
  
  
}


#hbusinesses .card h4 {
  margin-bottom: 1rem;
}

#hbusinesses .card img {
  max-width: 50%;
  margin-top: 1rem;
  object-fit: contain;
  max-width: 6rem;
}
