
@media screen and (max-width: 856px){
  .container{
    height: 20px;
  }
    .logotext{
        font-size: 18px;
        width: 150%;
    }
    .top_bar_info{
      display: none;
    }
    .checkbtn{
        display: block;
        margin-right: 20px;
    }
    nav{
      width: 20%;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        color: white;
        background-color: rgb(13, 67, 115);  
        top: 103px;
        left: -100%;
        text-align: center;    
        transition: all .5s;
        border-top: 1px solid white;
        
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
        
    }

   nav ul li a{
    font-size: 20px;
    color: white;
   }
   nav ul li:hover{
    background-color: white;
    color: black;
   }
   nav ul li a:hover{
    color: black;
   }
   .action a:hover,a.active{
    background: none;
    color:rgb(20, 19, 19);
   }
   #check:checked ~ul{
    left: 0;
   }
   .content-container{
    display:grid;
    grid-template-columns: auto auto auto;
  }
  .hero{
    font-size: 10px;
    width: 100%;
  }

  .hero-image{
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .action{
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .weather{
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .currentevents{
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  .spotlight-container{
    grid-row: 4/5;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

footer{
  bottom: unset;
}
.col{
  flex-basis: 100%;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 100%;
}



}
 