*{
    box-sizing: border-box;
}
body {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
     /* Minimum height of the viewport */
}



header{
    display: flex;
    justify-content:center; 
    align-items: center;
    background-color: rgb(12, 54, 88);
    color:rgb(247, 246, 246);
    font-size: 13px;
    width: 100%;

}
header img{
    width: 5rem;
    margin-right: 80px;
    padding: 10px;
}

nav ul {

background-color: #595b5e;
width: 100%;
}
h1{
    align-self: center;
}


main {
    
place-items: center; /* Center the main content */
}
main h2{
    
    margin-bottom: 2px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    background-color: rgb(12, 54, 88);
       margin: 0;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
   /* background-color: rgba(44, 40, 38, 0.986);*/

    font-weight:bold;
    border-radius: 5px;
    display: block;
    text-align: center;
}

nav a:hover{
    background-color: white;
    color:rgb(8, 8, 8);
    font-weight:bold;
    margin: 2px;
    
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border-color: rgba(44, 40, 38, 0.986);
    background-color: #fff;
    padding: 0px;
    
    color: rgb(12, 12, 12);
    font-family: sans-serif,Arial;
    font-weight: bold;
    

}
.card h3{
    text-align: center;
    background-color: rgb(12, 54, 88);

    margin: 0px;
    height: 36px;
    padding-top: 18px;
    color: white;
    
    
}
.card ul {
    list-style:decimal-leading-zero;
    color: rgb(3, 3, 14);
}
.card ul li a:hover{
    color:rgb(245, 9, 9);
}
.card  p {
text-align: center;
}
footer {
    margin-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 54, 88);
    font-weight: bold;
}

#copy{
    
    
    margin-bottom: 0px;
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bold;
}
#name{

    margin: 0px;
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bold;

}
footer h4{
    
    
    
    margin: 0px;
    background-color: rgb(12, 54, 88);
    color:rgb(248, 246, 246);
    font-weight: bolder;

    
}
footer img {
    width: 2rem;

    
}
#lastModified{
    
    
    color:rgb(156, 19, 19);
    font-weight:bold;
    font-size: 12px;
letter-spacing: 2px;
}



/*--------------------------------------------------*/
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: fixed;
      top: 0;
      right: 0;
    }
    
    #menu::before {
    content: "☰";
    }
    #menu.open::before {
    content: "✖️";
    }
    nav ul {
    display: none;
    }
    
    nav ul:hover {
    background-color: #e6e5e5;
    color: #333;
    font-weight: 700;
    }
    .active {
      background-color: #e6e5e5;
      color: #000000;
    }
    .active::before {
      content: "|";
    }
    .active::after {
      content: "|";
    }
    .open a {
      background-color: #304e70;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    