body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Three rows - header, nav, main, footer */
    grid-template-columns: auto auto;
    min-height: 100vh; /* Minimum height of the viewport */
}



header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center; 
    align-items: center;
    background-color: #d2d4d6;
    color:black;
    grid-column: 1/3;
    font-size: 13px;

}
header img{
    max-width: 75px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
          }

nav{
grid-column: 1/3;
background-color: #d2d4d6;

}



main {
    
    grid-column: 1/3;
    display: grid;
    place-items: center; /* Center the main content */

    
}
main h2{
    
    margin-bottom: 2px;
    font-size: 20px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 10px;
   /* background-color: #d2d4d6;*/
    background-color: rgb(26, 108, 175);

    grid-column: 1/3;
    margin: 0;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(26, 108, 175);
    font-weight:bold;
    border-radius: 5px;
    display: block;
    text-align: center;
}

nav a:hover{
    background-color: white;
    color:rgb(245, 9, 9);
    font-weight:bold;
    margin: 2px;
    
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 0px;
    width: 500px;
    color: rgb(29, 123, 185);
    font-family: sans-serif,Arial;
    font-weight: bold;
    

}
.card h3{
    text-align: center;
    background-color: rgb(26, 108, 175);
    margin: 0px;
    height: 36px;
    padding-top: 18px;
    color: white;
    
    
}
.card ul {
    list-style:decimal-leading-zero;
    color: rgb(3, 3, 14);
}
.card ul li a:hover{
    color:rgb(245, 9, 9);
}
.card  p {
text-align: center;
}
footer {
    text-align: center;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Three rows - header, nav, main, footer */
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: #d2d4d6;
    font-weight: bold;
}

#copy{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0px;
    background-color: #d2d4d6;
    color:black;
    font-weight: bold;
}
#name{

    grid-column: 1/3;
    margin: 0px;
    background-color: #d2d4d6;
    color:black;
    font-weight: bold;

}
footer h4{
    
    grid-column:1/2 ;
    
    margin: 0px;
    background-color: #d2d4d6;
    color:black;
    font-weight: bolder;

    
}
footer img {
    max-width: 50px;
    grid-row: 3/4;
    grid-column: 2/3;
}
#lastModified{
    
    grid-column: 1/3;
    color:rgb(245, 9, 9);
    font-weight:bold;
}