main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2%;
    }
/*Form STYLING*/

.wf1 fieldset{
    
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
    
}
.wf1 legend{
    color: #445ba9;
    padding: 0 .5rem;
}
.wf1 label{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;

}
.wf1 div{
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;

    
}
.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"]
{
    background-color:#eee;
    display: block;
    border:  solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 input[type="range"]{
margin: 0.1rem;

}

.wf1 #r {
    width: 400px;
    margin-bottom: 0;
}

.wf1 #rangevalue {
    display: block;
    font-size: 2rem;
    color:black;
    margin-top: 5px;
}

.wf1 #rangevalues {
	display: flex;
	margin: 0 0 0 6px;
	width: 425px;
}

.wf1 #rangevalues option {
	flex: 1 1 auto;
}

.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(#9c2c13,#6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;

}

.wf1 input:required{
    border-bottom: solid 8px red;
}
.wf1 input:required:valid{
    border-bottom: solid 8px rgb(13, 67, 115);
}


